.container_meniu
{
    width: 100%;
    height: 80px;
    background: rgb(20, 78, 109);
    box-shadow:  -4px 1px 33px 8px rgba(0,0,0,0.56);
    text-align:center;
}

.container_meniu .meniu
{
    display: flex;
    position: relative;
    color:red;
}
.container_meniu .meniu li{
    flex: 1;
    list-style-type: none;
    font-size: 30px;
}
.container_meniu .meniu li a{
    color:rgb(9, 169, 172);
    text-decoration: none;
    transition: color 0.03 ease;
}

.container_meniu .meniu li:hover a{
    color:rgb(234, 192, 25);
} 
.container_meniu .meniu li:first-child a{
    color:rgb(234, 192, 25);
}

.container_meniu .meniu .line{
    position: absolute;
    height: 5px;
    width: 20%;
    background: rgb(234, 192, 25);
    left: 0;
    bottom: 0;
    transition: all 0.5s ease;
}
.container_meniu .meniu li:nth-child(2):hover ~ .line{
    left:20%;
}

.container_meniu .meniu li:nth-child(3):hover ~ .line{
    left:40%;
}
.container_meniu .meniu li:nth-child(4):hover ~ .line{
    left:60%;
}
.container_meniu .meniu li:nth-child(5):hover ~ .line{
    left:80%;
}

.jumbotron{
    width: 100%;
    height: 700px;
    background: linear-gradient(
        rgba(0,0,250,0.25),
        rgba(250,180,125,0.45)
    ),
    url(https://source.unsplash.com/1500x950/?Danemark);
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}
.jumbotron h1{
    font-weight: 100;
    text-align: center;
}
.jumbotron .forma_tarii{
    width: 100px;
    height: 100px;
    -webkit-animation: color-forma 3s infinite;
}
@-webkit-keyframes color-forma{
    0%,100% {-webkit-filter: invert(20%) sepia(70%) saturate(3300%) hue-rotate(350deg)  brightness(130%) contrast(100%);}
    50% {-webkit-filter: invert(100%) sepia(10%) saturate(500%) hue-rotate(220deg)  brightness(100%) contrast(80%);}
}
